---
layout: page
title: "About"
description: "李文科"
header-img: "img/home-bg.jpg"
---

<!-- Language Selector -->
<select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    
    <!--copied from markdown -->
    <blockquote><p>写代码 玩游戏<br>
    喜欢耍,恩 是的</p></blockquote>
       
    <p>我是<strong>李文科</strong>,java 程序员 &amp;</p>
 
	<h5> ChangeLog</h5>
	<ul>
		<li> 2016年12月: <a href="https://github.com/Huxpro/huxpro.github.io"> 现在的模板</a></li>
		<li> 2014年11月: <a href="https://github.com/Ihavee/ihavee.github.io"> 原来的模板</a></li>
		<li> 2013年03月: 建立博客，准备记录</li>
	</ul>

	<h5>About me</h5>
	<p>支付系统后台，对接银行支付接口 <br>
	菜鸟程序员</p>
	<ul>
		<li> 2016/12--至今：......</li>
		<li> 2016/5--2016.12：药王科技</li>
		 <li> 2016/2--2016.5：点融网</li>
		<li> 2015/4--2016.2：地利集团</li>
		<li> 2013 /11--2015/4：首信易支付</li>
		<li> 2013 /1--2013 /11：国付宝信息科技有限公司</li>
		<li> 2011 /7--2013 /1：欧维特中国</li>
	</ul>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote><p>hello world. <br>
        hello world</p></blockquote>

    <p>Hi, I am <strong>li wen ke</strong>
        hello world

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <!-- This id is used for indexing my loss comments forcedly -->
    <div class="ds-thread"
    {% if site.duoshuo_username == "lwkjob" %}
        data-thread-id="1187623191091085319"
    {% else %}
    <!-- U can just use this key generated to index comments at page about -->
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}

 
